* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
#mp3btn{
    width: 40px;
    height: 40px;
    position: absolute;
    top:5%;
    right:5%;
    z-index: 1;
    border-radius:50%;
    text-align: center;
    line-height:2.5;
    background: #a7a3a3;
    border:4px #5f5c5c solid;
    transform:rotateZ(0deg);
    animation:mp3btnkey 2s linear infinite;
}
@keyframes mp3btnkey{
    0%{
        transform:rotateZ(0deg)
    }
    100%{
        transform:rotateZ(360deg)
    }
}
#mp3btn img{
    width: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    right: auto;
    margin-left: -10px;
    transform: rotateZ(-90deg)
}

.s1, .s2 ,.s3,.s4,.s5,.s6,.s7{
    background: url("../img/bj.png");
    height: 100%
}


/**s1样式**/


.s1 .header img {
    position: absolute;
}

.s1 .header img:nth-of-type(1) {
    width: 35px;
    top: 120px;
    left: 50px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(2) {
    width: 65px;
    top: 90px;
    right: 40px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(3) {
    width: 55px;
    left: 35px;
    bottom: 180px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(4) {
    width: 50px;
    right: 50px;
    bottom: 210px;
    animation: swing infinite;
}

.s1 .header img:nth-of-type(5) {
    left: 50%;
    width: 60%;
    margin-left: -30%;
    top: 25%;
    animation: pulse infinite;
}

.s1 .main {
    position: absolute;
    top: 30%
}

.s1 .main img:nth-of-type(1) {
    width: 40%
}

.s1 .main img:nth-of-type(2) {
    width: 80%;
    margin-bottom: 10px
}

.s1 .main .img9 {
    background: url("../img/9.png");
    background-size: cover;
    width: 207px;
    height: 24px;
    margin: auto;
}

.s1 .footer {
    position: absolute;
    width: 100%;
    bottom: 70px;
    left: 0px
}

.s1 .footer h2 {
    font-size: 20px;
    color: #00c7a7;
}

.s1 .footer p:nth-of-type(1) {
    font-size: 16px;
    color: #00c7a7;
    margin-bottom: 40px;
}

.s1 .footer p:nth-of-type(2) {
    height: 70px;
    position: absolute
}

.s1 .footer p:nth-of-type(2) img {
    position: absolute;
    height: 70px;
}

.s1 .footer p:nth-of-type(2) img:nth-of-type(1) {
    left: 0px
}

.s1 .footer p:nth-of-type(2) img:nth-of-type(2) {
    left: -39px
}


/**s2样式**/


.s2 {
    color: #06ebca
}

.s2 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    animation: pulse infinite;
}

.s2 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s2 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: ""
}

.s2 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}

.s2 .main .main-footer {
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: -5px;
    width: 120px;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    border-radius: 20px;
    line-height: 30px;
    background: -webkit-linear-gradient(left, #09eaff, #0afb9a);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #09eaff, #0afb9a);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #09eaff, #0afb9a);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #09eaff, #0afb9a);
    /* 标准的语法 */
}

.s2 .main img {
    width: 80%;
}

.s2 .main {
    position: relative;
}

.s2 .main .text {
    position: absolute;
    padding: 5%;
    top: 0px;
    width: 80%;
    left: 10%
}

.s2 .main .text p {
    font-size: 14px;
    line-height: 1.6rem;
    text-align: left
}

.s2 .footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}
.s2 .footer p img {
    position: absolute;
    height: 70px;
}

.s2 .footer p img:nth-of-type(1) {
    left: 0px
}

.s2 .footer p img:nth-of-type(2) {
    left: -39px
}

/**s3样式**/

.s3 {
    color: #06ebca
}

.s3 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    animation: pulse infinite;
}

.s3 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s3 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: ""
}

.s3 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}
.s3 .main .small{
    width: 60px;
    height: 60px;
    background: -webkit-radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* Firefox 3.6 - 15 */
    background: radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* 标准的语法 */
    border-radius:50%;
    font-weight: bold;
}
.s3 .main .big{
    width: 135px;
    height: 135px;
    background: -webkit-radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* Safari 5.1 - 6.0 */
    background: -o-radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* Opera 11.6 - 12.0 */
    background: -moz-radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* Firefox 3.6 - 15 */
    background: radial-gradient(rgba(16, 9, 9, 0.54), #045d6f); /* 标准的语法 */
    border-radius:50%;
    font-weight: bold;
}
.s3 .main p{
    position: absolute;
    text-align: center;
    line-height: 3.25;
    letter-spacing:2px;
}
.s3 .main p:nth-of-type(1) {
    top: 170px;
    left: 90px;
}
.s3 .main p:nth-of-type(2) {
    top: 170px;
    right: 85px;
}
.s3 .main p:nth-of-type(3) {
    top: 290px;
    left: 20px;
}
.s3 .main p:nth-of-type(4) {
    top: 290px;
    right: 20px;
}
.s3 .main p:nth-of-type(5) {
    top: 410px;
    left: 90px;
}
.s3 .main p:nth-of-type(6) {
    top: 410px;
    right: 90px;
}
.s3 .main p:nth-of-type(7) {
    top: 256px;
    left: 120px;
    line-height: 7;
}
.s3 .text {
    position: absolute;
    bottom: 126px;
    left: 45px;
    font-size: 15px;
}
.s3 .text .left{
    width: 3px;
    height: 40px;
    background: #01f6cb;
    float: left;
    margin-left: 10px;
}
.s3 .text .rigth  {
    width: 255px;
    height: 40px;
    float: left;
}
.s3 .footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}
.s3 .footer p img {
    position: absolute;
    height: 70px;
}

.s3 .footer p img:nth-of-type(1) {
    left: 0px
}

.s3 .footer p img:nth-of-type(2) {
    left: -39px
}

/**s4样式**/

.s4 {
    color: #06ebca
}

.s4 h2 {
    padding-top: 30px;
    margin-bottom: 25px;
    animation: pulse infinite;
}

.s4 h2 ::before {
    background: url("../img/14.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 40px;
    content: ""
}

.s4 h2 ::after {
    background: url("../img/13.png");
    background-size: cover;
    width: 80px;
    height: 18px;
    position: absolute;
    right: 40px;
    top: 40px;
    content: ""
}

.s4 h2 small {
    margin-top: 10px;
    font-size: 14px;
    display: block;
    letter-spacing: 5px
}
.s4 .main img {
    width: 80%;
}

.s4 .main {
    position: relative;
}

.s4 .main .text {
    position: absolute;
    padding: 5%;
    top: 0px;
    width: 80%;
    left: 10%
}

.s4 .first .one .btn1{
    width: 9px;
    height: 9px;
    background: #30faae;
    border-radius:50%;
}